.user-info-container {
  position: relative;
  display: inline-block;
}

.user-info-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: white;
}

.user-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #4a5568;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 0.5rem;
}

.user-name {
  margin-right: 0.5rem;
}

.dropdown-icon {
  width: 1rem;
  height: 1rem;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 90%;
  width: 150%;
  background-color: #2d3748;
  border-radius: 0.375rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-content {
  padding: 0.5rem 0;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: left;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #4a5568;
}

@media (max-width: 767px) {
  .user-info-container {
    position: static;
  }

  .dropdown-menu {
    position: absolute;
    top: 96.7%;
    left: 1%;
    right: 0;
    width: 30%;
    margin-top: 0.5rem;
  }
}
